* {
    box-sizing: border-box;
}

.textfield {
    width: 300px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
}

.button {
    width: 100px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.list-item {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    display: flex;
    gap: 8px;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
    padding: 4px 8px 4px 8px;
    border: 0px;
    border-radius: 4px;
}